html { overflow-y: hidden; }
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  position: relative;
  margin-top:520px;
  margin-left:70px;
  width:200px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1{
	position: absolute;
	font-family: 'Amatic SC', cursive;
	display: none;
}

.mainframe{
	display:none;
	position: absolute;
}

.startButton img{
	position: absolute;
}

.mainCSS{
	display:none;
}
.safeButton{
	display:none;
	position: relative;
	margin-top: 220px;
}


.credit{
	display: none;
}

.credit img{
	position: absolute;
}
.bully1{
	height:200px;
	margin-top: -535px;
	position: fixed;
	z-index: 1;
	display: none;

}

.bully2{
	width: 150px;
	margin-top:-475px;
	margin-left: 100px;
	position: fixed;
	z-index: 2;
	display: none;
}

.prex{
	background-image: url(img/walking-cycle5.png);
	width: 175px;
	height: 166px;
	position: relative;
	z-index: 3;
	transform: translateX(-200px);
	margin-top: -500px;
}

.prexCSS{
	animation: walk 2.5s steps(8) forwards;
}

.prexFront{
	background-image: url(img/front.png);
	z-index: 4;
	position: relative;
	height: 155px;
	width: 127px;
	margin-left: 492px;
	margin-top: -500px;
	display: none;
	animation: shake 3s 5s ease;
}

.prexhelmet{
	background-image: url(img/front-hat.png);
	z-index: 5;
	position: relative;
	height: 155px;
	width: 127px;
	margin-left: 492px;
	margin-top: -500px;
	display: none;
}

.flying{
	background-image: url(img/flying.png);
	z-index:6;
	position: relative;
	height: 155px;
	width: 173px;
	margin-left: 492px;
	margin-top: -500px;
	display: none;
	animation: flying 2s forwards;
}

.ballons{
	background-image: url(img/balloons.png);
	z-index: 7;
	position: relative;
	height: 414px;
	width: 194px;
	margin-left: 610px;
	display: none;
	animation: falling 4s forwards;
}

@keyframes walk{
	from{background-position: 0px;}
	to{background-position: -1400px;}
	0%{

	}
	100%{
		transform: translateX(450px);
	}

}

@keyframes flying{
	25%{
		transform: translateX(150px);
	}
	100%{
		transform: translateX(150px) translateY(700px);
	}
}

@keyframes falling{
	100%{
		transform: translateY(-700px);
	}
}

@keyframes shake{
	2%{transform: rotate(10deg);
	}
	4%{transform: rotate(-10deg);}
	100%{transform: rotate(0deg);

	}
}
