button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 2px #999;
  position: relative;
  margin-top:520px;
  margin-left:70px;
  width:200px;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainframe{
	display:none;
	position: absolute;
}

.startButton img{
	position: absolute;
}

.mainCSS{
	display:none;
}

.prex{
	background-image: url(img/walking-cycle4.png);
	width: 206px;
	height: 195px;
	position: relative;
	z-index: 1;
	transform: translateX(-300px);
	margin-top: -500px;
}

.prexCSS{
	animation: walk 2.5s steps(8) forwards;
}

@keyframes walk{
	from{background-position: 0px;}
	to{background-position: -1648px;}
	0%{

	}
	100%{
		transform: translateX(450px);
	}

}
